/*mainCSS*/
.root, .gradientBack {
    -fx-background-image: url("/resource/lionKing/bg.jpg");
    -fx-font-family: Arial;
}

.button, .toggle-button {
    -fx-background-color: linear-gradient(from 25px 25px to 100px 100px, #ffbc26, #e08529);
    -fx-border-color: #8a531a;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover, .toggle-button:hover {
    -fx-background-color: linear-gradient(from 25px 25px to 100px 100px, #e1a620, #c77624);
    -fx-border-color: #8a531a;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:selected, .toggle-button:selected {
    -fx-background-color: linear-gradient(from 25px 25px to 100px 100px, #c77624, #c77624);
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.text-field, .text-area{
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.label {
    -fx-text-fill: #000000;
}

.sectionTitle{
    -fx-font-weight: 900;
    -fx-font-size: 16px;
    -fx-text-fill: #000000;
}

/*header*/
.root {
    -fx-background-color: linear-gradient(from 130px 130px to 300px 300px, #e9f3e8, #edffe0);
}

.scroll-pane, #gridPane {
    -fx-background-color: #cfe0cc;
}

#EnigmaTitle {
    -fx-font-weight: 900;
    -fx-font-size: 18px;
}

.text-field{
    -fx-background-color: #edffe0;
    -fx-border-color: #c1d3b4;
    -fx-border-radius: 5px;
    -fx-text-fill: #000000;
    -fx-background-radius: 5px;
}

/*firstCenter*/
.root {
    -fx-background-color: linear-gradient(from 130px 130px to 300px 300px, #e9f3e8, #edffe0);
}

.contentBoxes{
    -fx-background-color: #e9f3e8;
    -fx-border-radius: 50px;
}

/*code calibration*/
.root{
    -fx-background-color: #d4e5d1;
    -fx-font-family: Tahoma;
}

.staticLabels {
    -fx-font-size: 14px;
    -fx-text-fill: #142732;
    -fx-font-weight: 700;
}

.choice-box, .plugsScrollpane, .combo-box  {
    -fx-background-color: #edffe0;
    -fx-border-color: #c1d3b4;
    -fx-border-radius: 5px;
    -fx-text-fill: #000000;
}

.plugsVbox{
    -fx-background-color: #edffe0;
    -fx-text-fill: #000000;
}

/*.radio-button{*/
/*    -fx-background-color: #edffe0;*/
/*}*/

.radio-button:selected, #selectedPairsVbox {
    -fx-text-fill: #8b9f6f;
}

/*machine details*/
.root {
    -fx-background-color: #e9f3e8;
    -fx-font-family: Tahoma;
}

.staticLabels {
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-font-weight: 700;
}

.dynamicLabels {
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
}

/*encryption*/
.root{
    -fx-background-color: #e9f3e8;
    -fx-font-family: Tahoma;
}

.text-area{
    -fx-background-color: #8b9f6f;
    -fx-border-color: #8b9f6f;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: #000000;
}

.InOutLabls{
    -fx-font-weight: 900;
    -fx-font-size: 13px;
    -fx-text-fill: #000000;
}

/*history*/
.root{
    -fx-background-color: #edffe0;
    -fx-font-family: Tahoma;
}

.table-view{
    -fx-background-color: #8b9f6f;
    -fx-border-color: #445232;
    -fx-text-fill: #000000;
}

.tableCol {
    -fx-background-color: #c1d3b4;
    -fx-text-fill: #000000;
}

/*results*/
#resultVBox{
    -fx-background-color: #e9f3e8;
    -fx-border-color: #c77624;
    -fx-border-image-width: 3px;
}

#messageLabel{
    -fx-font-weight: 700;
    -fx-text-fill: #8a531a;
}

.resultsLabels{
    -fx-text-fill: #c77624;
    -fx-font-weight: bold;
}

.outPutBtn{
    -fx-fill: #cfe0cc;
}