/*main css*/
.root, .gradientBack {
    -fx-background-color: linear-gradient(from 130px 130px to 300px 300px, #FFB691, #F8DCC0);
    -fx-font-family: Tahoma;
}

.button, .toggle-button {
    -fx-background-color: linear-gradient(from 25px 25px to 100px 100px, #FFB691, #F8DCC0);
    -fx-border-color: #FFB691;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover, .toggle-button:hover {
    -fx-background-color: linear-gradient(from 25px 25px to 100px 100px, #ffa582, #F8DCC0);
    -fx-border-color: #ccac89;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:selected, .toggle-button:selected {
    -fx-background-color: linear-gradient(from 25px 25px to 100px 100px, #f35a1d, #F8DCC0);
    -fx-border-color: #e34202;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.text-field, .text-area{
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.label {
    -fx-text-fill: #142732;
}

.sectionTitle{
    -fx-font-weight: 900;
    -fx-font-size: 16px;
    -fx-text-fill: #142732;
}

.scroll-pane, #gridPane {
    -fx-background-color: #f3eeeb;
}

#EnigmaTitle {
    -fx-font-weight: 900;
    -fx-font-size: 18px;
}

.menuBtn {
    -fx-background-color: linear-gradient(from 25px 25px to 100px 100px, #FFB691, #F8DCC0);
    -fx-border-color: #FFB691;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.menuBtn:hover {
    -fx-background-color: linear-gradient(from 25px 25px to 100px 100px, #ffa582, #F8DCC0);
    -fx-border-color: #ccac89;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.menuBtn:selected {
    -fx-background-color: linear-gradient(from 25px 25px to 100px 100px, #f35a1d, #F8DCC0);
    -fx-border-color: #e34202;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.text-field{
    -fx-background-color: #fae9d8;
    -fx-border-color: #F8DCC0;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: #142732;
}

.contentBoxes{
    -fx-background-color: #f3eeeb;
    -fx-border-radius: 50px;
    -fx-background-radius: 5px;
}

/*machine details*/
.root {
    -fx-background-color: #f3eeeb;
    -fx-font-family: Tahoma;
}

.staticLabels {
    -fx-font-size: 14px;
    -fx-text-fill: #142732;
    -fx-font-weight: 700;
}

.dynamicLabels {
    -fx-font-size: 14px;
    -fx-text-fill: #142732;
}

.staticLabels {
    -fx-font-size: 14px;
    -fx-text-fill: #142732;
    -fx-font-weight: 700;
}

.choice-box, .plugsScrollpane, .combo-box  {
    -fx-background-color: #fae9d8;
    -fx-border-color: #F8DCC0;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: #142732;
}

.plugsVbox{
    -fx-background-color: #fae9d8;
    -fx-text-fill: #142732;
}

/*.radio-button{*/
/*    -fx-background-color: #fae9d8;*/
/*}*/

.radio-button:selected, #selectedPairsVbox {
    -fx-text-fill: #FD777A;
}

/*encryption*/
.root{
    -fx-background-color: #f3eeeb;
    -fx-font-family: Tahoma;
}

.text-area{
    -fx-background-color: #fae9d8;
    -fx-border-color: #F8DCC0;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: #142732;
}

.InOutLabls{
    -fx-font-weight: 900;
    -fx-font-size: 13px;
    -fx-text-fill: #142732;
}

.table-view{
    -fx-background-color: #F8DCC0;
    -fx-border-color: #ccac89;
    -fx-text-fill: white;
}

.tableCol {
    -fx-background-color: #e3ab96;
    -fx-text-fill: #000000;
}

/*result*/
#resultVBox{
    -fx-background-color: #f3eeeb;
    -fx-border-color: #ffa582;
    -fx-border-image-width: 2px;
}

#messageLabel{
    -fx-font-weight: 700;
    -fx-text-fill: #ffa582;
}

.resultsLabels{
    -fx-text-fill: #ee9c7e;
}