/*mainCSS*/
.root, .gradientBack {
    -fx-background-image: url("backgroung.jpeg");
    -fx-font-family: "Suez One";
}

.button, .toggle-button {
    -fx-background-image: url("cookieMonsterBtn.jpeg");
    -fx-border-color: #754528;
    -fx-text-fill: white;
    -fx-font-weight: 900;
    -fx-font-size: 14px;
}

.button:hover, .toggle-button:hover {
    -fx-background-image: url("oreo.jpeg");
    -fx-border-color: #754528;
    -fx-text-fill: white;
}

.button:selected, .toggle-button:selected {
    -fx-background-image: url("backgroung.jpeg");
    -fx-border-color: #754528;
    -fx-text-fill: white;
}

.text-field, .text-area{
    -fx-border-radius: 5px;
}

.label {
    -fx-text-fill: #7C8797;
}

.sectionTitle{
    -fx-font-weight: 900;
    -fx-font-size: 16px;
    -fx-text-fill: #223C5E;
}

/*header*/
.root {
    -fx-background-color: #223C5E;
}

.scroll-pane, #gridPane {
    -fx-background-color: #28446c;
}

#EnigmaTitle {
    -fx-font-weight: 900;
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.text-field{
    -fx-background-color: #e8dfd8;
    -fx-border-color: #C99357;
    -fx-border-radius: 5px;
    -fx-text-fill: #754528;
}

/*firstCenter*/
.root {
    -fx-background-color: #223C5E;
}

.contentBoxes{
    -fx-background-color: #DCE1E8;
    -fx-border-radius: 50px;
}

/*code calibration*/
.root{
    -fx-background-color: #DCE1E8;
    -fx-font-family: "Suez One";
}

.staticLabels {
    -fx-font-size: 14px;
    -fx-text-fill: #7C8797;
    -fx-font-weight: 700;
}

.choice-box, .plugsScrollpane, .combo-box, #agentNumField  {
    -fx-background-color: #DCE1E8;
    -fx-border-color: #48729E;
    -fx-border-radius: 5px;
    -fx-text-fill: #7C8797;
}

.slider {
    -fx-progress-color: #48729E;
}

.plugsVbox{
    -fx-background-color: #DCE1E8;
    -fx-text-fill: #7C8797;
}

/*.radio-button{*/
/*    -fx-background-color: #DCE1E8;*/
/*}*/

.radio-button:selected, #selectedPairsVbox {
    -fx-text-fill: #C99357;
}

/*machine details*/
.root {
    -fx-background-color: #DCE1E8;
    -fx-font-family: "Suez One";
}

.staticLabels {
    -fx-font-size: 14px;
    -fx-text-fill: #7C8797;
    -fx-font-weight: 700;
}

.dynamicLabels {
    -fx-font-size: 14px;
    -fx-text-fill: #98A1B0;
}

/*encryption*/
.root{
    -fx-background-color: #DCE1E8;
    -fx-font-family: "Suez One";
}

.text-area{
    -fx-background-color: #DCE1E8;
    -fx-border-color: #98A1B0;
    -fx-border-radius: 5px;
    -fx-text-fill: #7C8797;
}

.InOutLabls{
    -fx-font-weight: 900;
    -fx-font-size: 13px;
    -fx-text-fill: #7C8797;
}

/*history*/
.root{
    -fx-background-color: #DCE1E8;
    -fx-font-family: "Suez One";
}

.table-view{
    -fx-background-color: #DCE1E8;
    -fx-border-color: #223C5E;
    -fx-text-fill: #223C5E;
}

.tableCol {
    -fx-background-color: #DCE1E8;
    -fx-text-fill: #223C5E;
}

/*results*/
#resultVBox{
    -fx-background-color: #CDB8A3;
    -fx-border-color: #c99357;
    -fx-border-image-width: 2px;
}

#messageLabel{
    -fx-font-weight: 700;
    -fx-text-fill: #223c5e;
}

.resultsLabels{
    -fx-text-fill: #48729E;
}

.inputBtn{
    -fx-background-image: none;
    -fx-background-color: #CDB8A3;
    -fx-border-color: #C99357;
    -fx-font-weight: 500;
    -fx-text-fill: #754528;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.inputBtn:hover{
    -fx-background-image: none;
    -fx-text-fill: #C99357;
}